.footer{
  text-align: center;
  width: 100%;
  bottom:0;
  left:0;
  right: 0;
  position: fixed;
  background-color: black;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}
